<div id="splash" class="splash">
  <div id="background" class="splash-background">
    <img src="{{ site.url }}{{ base.url }}/images/background.svg" />
  </div>
  <div id="leaves" class="splash-background">
    <img src="{{ site.url }}{{ base.url }}/images/background-leaves.svg" />
  </div>
  <div id="fish" class="splash-background">
    <img src="{{ site.url }}{{ base.url }}/images/background-fish.svg" />
  </div>
	<div class="splash-content">
    <p class="splash-lg-title">{{ site.data.author.name }}</p>
    {%- for title in site.data.author.titles -%}
      <p class="splash-md-title">> {{ title | strip_html }}</p>
    {%- endfor -%}
  </div>
  <a href="{{ site.url }}{{ base.url }}#top"">
    <div class="splash-scroll">
      <img src="{{ site.url }}{{ base.url }}/assets/scroll.svg" />
    </div>
  </a>
</div>